<template>
    <div>
        <div class="close">
            <img src="../../../public/img/ei_close.png" alt="" @click="close">
        </div>
        <div class="content">
            <div class="user">
                <img src="../../../public/img/profile.png" alt="">
                <div class="name">Андрей</div>
            </div>
            <div class="input">
                <textarea rows="2" placeholder="Ваше сообщение"></textarea>
            </div>
            <div class="checkbox">
                <div class="check">
                    <input type="checkbox">
                    <span> Я не робот</span>
                </div>
                <div class="text">
                    <p>Проверка <br>безопасности</p>
                </div>
            </div>
            <div class="button"><button>Отправить сообщение</button></div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'description',
    methods: {
        close(){
            this.$emit("closeDescription", false)
        }
    },
}
</script>
<style scoped>
.close{
    display: flex;
    justify-content: end;
    margin-top: -40px;
    margin-right: -10px;
}
.close img{
    width: 19px;
    height: 19px;
    color: #242222;
}
.content{
    font-family: 'Open Sans';
    color: #242222;
    margin-top: 30px;
}
.content .user{
    display: flex;
    justify-content: flex-start;
}
.content .user img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.content .name{
    width: 100%;
    height: 34px;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: 0.01em;
    margin-top: 12px;
    margin-left: 10px;
}
.content textarea{
    margin-top: 20px;
    width: 100%;
    height: 120px;
    background: #F5F5F5;
    border-radius: 10px;
    padding:10px 20px;
    overflow: hidden;

}
.content .checkbox{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 120px;
    background: #EBF0FF;
    border: 0.5px solid #ACAFB1;
    border-radius: 10px;
    align-items: center;
}
.context .check span{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #242222;
    
}
.content .check input{
    margin-top: -1px;
    margin-left: -25px;
    
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 0.5px solid #ACAFB1;
    border-radius: 5px;
    
    
}
.text p{
    color: #999999;
}
.button{
    display:flex;
    justify-content: center;
}
.button button{
    width: 100%;
    max-width: 220px;
height: 60px;
border: none;
color: #fff;
background: #297D3B;
border-radius: 53px;

} 
@media (max-width:690px) {
    .content .user{
       display: flex;
       margin-left: 30%;
    }
    .content .user img{
        width: 50px;
        height: 50px;
    }
    .content .name{
        height: 23px;
        font-size: 17px;
        line-height: 23px;
    }
    .context .check span{
        font-size: 14px;
        line-height: 19px;
    }
}

</style>