<template>
    <div>
        <div class="title">
            <div class="link">
                <router-link to="#">
                    <p>Главная <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
                <router-link to="#">
                    <p>Ищу хороший проект <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
                <router-link to="#">
                    <p>PROFIT SCHOOL <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
            </div>
            
        </div>
        <div class="content">
           <div class="row">
                <div class="col-12">
                   <div class="row ">
                        <div class="col-12 col-8 ">
                            <div class="title-context">
                                <h3>PROFIT SCHOOL <span>Франшиза курсов</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <img src="../../../public/img/content_img.png" alt="">
                        </div>
                        <div class="col-7">
                            <div class="info-content">
                                <div class="info-button">
                                    <div>
                                        <button @click="send">Отправить заявку</button>
                                    </div>
                                    <div><button @click="routerChat" class="btn">Написать</button></div>
                                </div>
                                <div class="info-text">
                                    <div class="line">
                                        <hr>
                                    </div>
                                    <div class="info-text-content">
                                        <h3>Основная информация</h3>
                                        <p>Возраст бизнеса - 7 лет</p>
                                        <p>Количество сотрудников - 12</p>
                                        <p>Действующий бизнес</p>
                                        <p>Окупаемость - 2 года</p>
                                        <p>Причина продажи - что то</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-8 col-md-5 cost-margin">
                            <div class="button-2">
                                <div><button @click="send">Отправить заявку</button></div>
                                <div><button @click="routerChat" class="btn-2">Написать</button></div>
                            </div>
                            <div class="cost">
                                <h3>Стоимость франшизы</h3>
                                <p>Стоимость франшизы</p>
                                <p class="cost-data">1.200.100 - 3.300.200 $</p>
                                <p>Прогнозируемая выручка</p>
                                <p class="cost-data">Более 120.000 $ в месяц</p>
                                <p>Паушальный взнос</p>
                                <p class="cost-data">1.200.100 - 1.800.200 $</p>
                                <p>Возможная чистая прибыль</p>
                                <p class="cost-data">Более 50.000 $ в месяц</p>
                               
                            </div> 
                        </div>
                        <div class="col-12 col-sm-8 col-md-7">
                            <div class="cost-text">
                                <div class="line"><hr></div>
                                <h3>Описание</h3>
                                <p>Мы занимаемся аутсорсингом с 2007 года и помогаем  с персоналом таким крупным
                                    федеральным сетям как: Ozon, Магнит, DNS, ПЭК, Сбермаркет, FM Logistic и многих
                                    других федеральных компаний. Мы занимаемся аутсорсингом с 2007 года и помогаем
                                    с персоналом таким крупным федеральным сетям как: Ozon, Магнит, DNS, ПЭК,
                                    Сбермаркет, FM Logistic и многих других федеральных компаний
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
           </div>
           
        </div>
        <div class="footer">
            <h3>Похожие франшизы</h3>
        </div>
    </div>
</template>
<script>
export default {
    name: 'profit-school',
    methods: {
        send(){
            this.$emit("message", true)
        },
        routerChat(){
            this.$router.push('/chat')
        }
    },
}
</script>
<style scoped>

.title{
    margin-left: 35px;

}
.link{
    display: flex;
    justify-content:flex-start;
}
.link a{
    color: #808080;
    margin-top: 50px;
    margin-right: 20px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.01em;
}
@media (max-width:992px) {
    .link{
        display: none;
    }
    
}
/** content*/

.content{
    margin: 20px 50px;
    color: #242222;
}
.content img{
    width: 90%;
}
.title-context h3{
    width: 500px;
    height: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #242222;
}
.title-context span{
    height: 27px;
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.01em;
}
.info-content{
    font-family: 'Open Sans';
    color: #242222;

}
.info-button{
    position: absolute;
    right: 25px;
    top: 280px;
}
.info-button button{
    width: 200px;
height: 55px;
left: 1175px;
top: 261.39px;
color: #fff;
background: #297D3B;
border-radius: 55px;
border: none;
margin: 5px;
}
.info-button .btn{
    background: #EBEBEB;
    color: #242222;
}
.info-content .info-text{
    margin-top:120px;

}
.info-content .info-text .line hr{
    border: 0.5px solid #808080;
}
.info-content .info-text h3{
    width: 100%;
    height: 48px;
    font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 48px;
/* identical to box height */

letter-spacing: 0.01em;
}
.info-content .info-text p{
    height: 27px;
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.01em;
}
@media (max-width:992px) {
    .info-content .info-button{
        display: none;
    }
    .info-content .info-text{
     margin-top:-30px;

    }
    .info-content .info-text .line {
        display: none;
    }
}
@media (max-width:800px) {
    .info-content .info-text{
    padding-top: 5px;

}
    .info-content .info-text h3{
        height: 20px;
        font-size: 17px;
        line-height: 20px;

    }
    .info-content .info-text p{
        height: 19px;
        font-size: 14px;
        line-height: 19px;
    }
    .content img{
    width: 100%;
    height: 134px;
    }
    .title-context h3{
        width: 300px;
        height: 27px;
        font-size: 20px;
        line-height: 27px;
    } 
    .title-context span{
        height: 19px;
        font-size: 14px;
        line-height: 19px;

    }
}
@media (max-width:450px) {
  
    .info-content .info-text h3{
        height: 18px;
        font-size: 15px;
        line-height: 18px;

    }
    .info-content .info-text p{
        height: 16px;
        font-size: 12px;
        line-height: 16px;
    }
   
}
/*cost----------------------------------------------------------------*/
.cost-margin{
    margin-top: -60px;
}
.button-2{
    font-family: 'Open Sans';
    margin: auto;
    display: none;
}
.button-2 button{
    width: 100%;
    max-width: 300px;
    height: 60px;
    background: #297D3B;
    border-radius: 10px;
    margin: 5px;
    border: none;
    color: #fff;
}
.button-2 .btn-2{
    background: #EBEBEB;
    color: #242222;
}
.cost{
    font-family: 'Open Sans';
    color: #242222;
    margin-left: -10px;
}
.cost h3{
    width: 100%;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.01em;
}
.cost p{
    width: 100%;
    height: 27px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.01em;
}
.cost .cost-data{
    width: 100%;
    height: 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #297D3B;
}
@media (max-width:1150px) {
    .cost h3{
        height: 35px;
        font-size: 25px;
        line-height: 35px;
    }
    .cost p{
        height: 22px;
        font-size: 16px;
        line-height: 22px;
    }
    .cost .cost-data{
        height: 40px;
        font-size: 29px;
        line-height: 40px;
    }
}
@media (max-width:992px) {
    .cost h3{
        height: 23px;
        font-size: 17px;
        line-height: 23px;
    }
    .cost p{
        height: 19px;
        font-size: 14px;
        line-height: 19px;
    }
    .cost .cost-data{
        height: 34px;
        font-size: 25px;
        line-height: 34px;
    }
    .button-2{
        display: block;
    }
    .cost-margin{
        margin-top: 0;
    }
}
/*-------------------------------------------------*/
.cost-text{
    margin-top: 120px;
    font-family: 'Open Sans';
    color: #242222;
    margin-left: -10px;
}
.cost-text .line hr{
    border: 0.5px solid #808080;
}
.cost-text h3{
    width: 100%;
    max-width: 181px;
    height: 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.01em;
    padding-top: 10px;
    
}
.cost-text p{
    margin-top: 30px;
    margin-right: 45%;
}
@media (max-width:992px) {
    .cost-text p{
        margin-right: 0;
    }
    .cost-text .line{
        display: none;
    }
    .cost-text{
        margin-top: 0;
    }

}
@media (max-width:570px) {
    .cost-text h3{
        height: 23px;
        font-size: 17px;
        line-height: 23px;
    }
    .cost-text p{
        height: 19px;
        font-size: 14px;
        line-height: 19px;
    }
}
/*---------------------------------*/
.footer{
    margin-top: 100px;
    margin-left: 35px;
}
.footer h3{
    width: 369px;
    height: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #242222;
}
@media (max-width:580px) {
    .footer h3{
        width: 211px;
        font-size: 20px;
        line-height: 27px;
        height: 20px;
    }
    .footer{
        padding-top: 70px;
        
    }
}
</style>