<template>
    <div>
        <div class="title">
            <div class="link">
                <router-link to="#">
                    <p>Главная <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
                <router-link to="#">
                    <p>Консультации <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
                <router-link to="#">
                    <p>Чат <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
            </div>    
        </div>  
        <div class="content">
            <div class="name">
                <h3>Александра</h3>
                <p>Маркетолог </p>
            </div>
            <div class="name-data">
                <img src="../../../public/img/UserFoto.png" alt="">
                <div class="data">
                    <p class="none">Маркетолог </p>
                    <p>Опыт работы - 7 лет</p>
                    <p>Рейтинг: 4.9</p>
                    <p>
                        <img src="../../../public/img/star.png" alt="">
                        <img src="../../../public/img/star.png" alt="">
                        <img src="../../../public/img/star.png" alt="">
                        <img src="../../../public/img/star.png" alt="">
                        <img src="../../../public/img/star_wihte.png" alt="">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="chat" >
        
            <div class="chat-data" >
                <div v-for="c in getChat" :key="c.id">
                    <div class="other-user" v-if="c.user == 1">
                        <div></div>
                        <div class="other-user-data">
                            <p>{{c.text}} </p>
                             <div class="img"><img src="../../../public/img/True.png" alt=""></div>   
                        </div>
                    </div>
                
                    <div class="me-user" v-if="c.user == 2">
                        <div class="user-logo">
                            <div class="user-img">
                                <img src="../../../public/img/profile.png" alt="">
                            </div>
                            <div class="me-user-data">
                                
                                <p>{{c.text}}</p>
                                 <div class="img"><img src="../../../public/img/True.png" alt=""></div>   
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
                
               
            </div>
            <div class="chat-type">
                <div class="input-data">
                    <img src="../../../public/img/profile.png" alt="">
                    <textarea v-model="chat.text" placeholder="Ваше сообщение"></textarea>
                    </div>
                    <div class="button">
                    <button @click="sendMessage">Отправить</button>
                </div>
            </div>
            
            
        </div>  
    </div>
</template>
<script>
export default {
    name: 'chat-content',
    methods: {
        sendMessage(){
            var today = new Date();
            var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + 
            today.getSeconds();
            var dateTime = date+' '+time;
            let id = 5
            this.chat.id = id++  
            let user = 2
            let text = this.chat.text
            this.getChat.push({id,text,user})
            this.chat.text = ''

                
            console.log(this.getChat)
            
            
        }
    },
    data() {
        return {
            chat:{
                id: '',
                user: 2,
                text: '',
            },
            getChat: [
                {id: 1,text: 'hello' ,user:1},
                {id: 2,text: 'Lorem ipsum dolor sit amet rghh6nh',user:1},
                {id: 3,text: 'hello Lorem ipsum dolor sit amet rghh6nh',user:2},
                {id: 4,text: 'hello ',user:2},
            ]
        }
    },
    mounted() {
        
    },
}
</script>
<style scoped>
.title{
    margin-left: 35px;

}
.link{
    display: flex;
    justify-content:flex-start;
}
.link a{
    color: #808080;
    margin-top: 50px;
    margin-right: 20px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.01em;
}
@media (max-width:992px) {
    .link{
        display: none;
    }
    
}
/**---------------Name---------------------------*/
.name{
    display: flex;
    justify-content: flex-start;
    margin-left: 35px;
    font-family: 'Open Sans';
    color: #242222;
}
.name h3{
    height: 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.01em;
}
.name p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.01em;
    height:19px ;
    margin-top: 40px;
    margin-left: 10px;
    display: none;
}
@media (max-width:600px) {
    .name h3{
        height: 27px;
        font-size: 20px;
        line-height: 27px;
        padding-top: 15px;
    }
    .name p{
        display: block;
    }
    
}
/**--------------Name Data-----------------*/
.name-data{
    display: flex;
    justify-content: flex-start;
    margin-left: 35px;
}
.name-data img{
    margin-right: 20px;
}
.name-data .name-data{
    font-family: 'Open Sans';
    color: #242222;
    
}
.name-data p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.01em;
    height: 27px;
    color: #242222;
}
@media (max-width:600px) {
    .name-data img{
        width: 130px;
        height: 78px;
        border-radius: 2px;
    }
    .name-data p{
        font-size: 14px;
        line-height: 19px;
        height: 19px;
    }
    .name-data p img{
        width: 21.06px;
        height: 21.06px;
    }
    .name-data .none{
        display: none;
    }
}
/*------------Chat----------------------------*/
.chat{
    width: 80%;
    max-width: 981px;
    height: 753px;
    font-family: 'Open Sans';
    background: #F5F5F5;
    border-radius: 10px;
    margin: 51px 35px;  
    color: #242222;  
}
.chat .chat-data{
    width: 100%;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 20px;
    padding-bottom: 20px;
}
.chat .chat-type{
    margin-left: 40px;
}
.chat-type .input-data{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.chat-type img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;

}
.chat-type textarea{
    
    padding: 11px;
    width: 80%;
    height: 100px;
    resize: none;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    
}
.chat-type button{
    width: 170px;
    height: 50px;
    color: #fff;
    background: #297D3B;
    border-radius: 40px;
    border: none;
    margin-top: 30px;
}
@media (max-width:700px) {
    .chat{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }
    .chat-type img{
        width: 35px;
        height: 35px;
    }
    .chat-type textarea{
        height: 60px;
        margin-right: 10px;
    }
}
/**-------------------OtherData---------------*/

.other-user{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
    margin-right: 30px;
}
.other-user-data{
    width: 50%;
    min-height: 30px;
    height: 100%;
    background: #297D3B;
    border-radius: 37px;

}
.other-user-data p{
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: -5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    color: #fff;
    letter-spacing: 0.03em;
    
}
.me-user-data .img,
.other-user-data .img{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-bottom: 5px;
}
/*--------me User---------------*/
.me-user{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
    margin-left: 30px;
}
.user-logo{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.user-logo .user-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.me-user-data{
    width: 50%;
    min-height: 30px;
    height: 100%;
    background:#465666;
    border-radius: 37px;

}
.me-user-data p{
    width: 50%;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: -5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    color: #fff;
    letter-spacing: 0.03em;
    
}

@media (max-width:800px) {
    .other-user-data,
    .me-user-data{
        width: 75%;
        min-height: 30px;
        height: 100%;
        
        border-radius: 10px;

    }
    .other-user-data p,
    .me-user-data p{
        
        font-size: 14px;
        line-height: 140%;
    }
    .user-logo .user-img img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    
    }
}
</style>