<template>
    <div>
        <div class="close">
            <img src="../../../public/img/ei_close.png" alt="" @click="close">
        </div>
        <div class="content">
            <h3>Пожалуйста оцените Александру </h3>
            <p>

                <img v-if="r.rate1" @click="rate_1" src="../../../public/img/rate.png" alt="">
                <img v-if="r.rate2" @click="rate_1" src="../../../public/img/star.png" alt="">
                <img v-if="r.rate3" @click="rate_2" src="../../../public/img/rate.png" alt="">
                <img v-if="r.rate4" @click="rate_2" src="../../../public/img/star.png" alt="">
                <img v-if="r.rate5" @click="rate_3" src="../../../public/img/rate.png" alt="">
                <img v-if="r.rate6" @click="rate_3" src="../../../public/img/star.png" alt="">
                <img v-if="r.rate7" @click="rate_4" src="../../../public/img/rate.png" alt="">
                <img v-if="r.rate8" @click="rate_4" src="../../../public/img/star.png" alt="">
                <img v-if="r.rate9" @click="rate_5" src="../../../public/img/rate.png" alt="">
                <img v-if="r.rate10" @click="rate_5" src="../../../public/img/star.png" alt="">
                
            </p>
            <div class="button">
                <button @click="send">Оценить</button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'user-rate',
    methods: {
        close(){
            this.$emit("closeRate",false)
        },
        send(){
            for(let d in this.r){
                if(this.r.rate2 == true){
                    this.count = 1
                } 
                if(this.r.rate4 == true){
                    this.count = 2
                } 
                if(this.r.rate6 == true){
                    this.count = 3
                } 
                if(this.r.rate8 == true){
                    this.count = 4
                } 
                if(this.r.rate10 == true){
                    this.count = 5
                } 
            }
            
            console.log(this.count)
        },
        rate_1(){
            this.r.rate1 = !this.r.rate1
            this.r.rate2 = !this.r.rate2
            this.r.rate3 = true
            this.r.rate5 = true
            this.r.rate7 = true
            this.r.rate9 = true
            this.r.rate4 = false
            this.r.rate6 = false
            this.r.rate8 = false
            this.r.rate10 = false
            
        },
        rate_2(){
            this.r.rate3 = !this.r.rate3
            this.r.rate4 = !this.r.rate4
            this.r.rate2 = true
            this.r.rate5 = true
            this.r.rate7 = true
            this.r.rate9 = true
            this.r.rate1 = false
            this.r.rate6 = false
            this.r.rate8 = false
            this.r.rate10 = false
        },
        rate_3(){
            this.r.rate5 = !this.r.rate5
            this.r.rate6 = !this.r.rate6
            this.r.rate2 = true
            this.r.rate4 = true
            this.r.rate7 = true
            this.r.rate9 = true
            this.r.rate1 = false
            this.r.rate3 = false
            this.r.rate8 = false
            this.r.rate10 = false
        },
        rate_4(){
            this.r.rate7 = !this.r.rate7
            this.r.rate8 = !this.r.rate8
            this.r.rate2 = true
            this.r.rate4 = true
            this.r.rate6 = true
            this.r.rate9 = true
            this.r.rate1 = false
            this.r.rate3 = false
            this.r.rate5 = false
            this.r.rate10 = false
        },
        rate_5(){
            this.r.rate9 = !this.r.rate9
            this.r.rate10 = !this.r.rate10
            this.r.rate2 = true
            this.r.rate4 = true
            this.r.rate6 = true
            this.r.rate8 = true
            this.r.rate1 = false
            this.r.rate3 = false
            this.r.rate5 = false
            this.r.rate7 = false
        },
       
        
    },
    data() {
        return {
            rate1:true,
            rate2:false,
            rate3:true,
            rate4:false,
            rate5:true,
            rate6:false,
            rate7:true,
            rate8:false,
            rate9:true,
            rate10:false,
            count:0,
            r:{
                rate1:true,
            rate2:false,
            rate3:true,
            rate4:false,
            rate5:true,
            rate6:false,
            rate7:true,
            rate8:false,
            rate9:true,
            rate10:false, 
            }

        }
    },
}
</script>
<style scoped>
.close{
    display: flex;
    justify-content: end;
    margin-top: -35px;
    margin-right: -10px;
}
.close img{
    width: 19px;
    height: 19px;
    color: #242222;
}
.content{
    text-align: center;
    font-family: 'Open Sans';
}
.content h3{
   
    width: 100%;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.01em;
}
.content p img{
    width: 75px;
    height: 75px;
    margin: 10px;

}
.content button{
    width: 220px;
    height: 60px;
    background: #297D3B;
    border-radius: 53px;
    border: none;
    color: #fff;
}
@media (max-width:1105px) {
    .content h3{
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }
    .content p img{
        width: 50px;
        height: 50px;
    }
}
@media (max-width:800px) {
    .content h3{
        height: 23px;
        font-size: 17px;
        line-height: 23px;
    }
    .content p img{
        width: 37px;
        height: 37px;
    }
    .content button{
        widows: 220px;
    }
}

</style>