<template>
    <div>
        <main-navbar></main-navbar>
        <register-project></register-project>
    </div>
</template>
<script>
import MainNavbar from './MainNavbar.vue'
import RegisterProject from '@/components/login/RegisterProject'
export default {
    name: 'add-project',
    components:{
        MainNavbar,
        RegisterProject
    }
}
</script>