<template>
    <div>
        <main-navbar></main-navbar>
        <div class="title">
            <div class="link">
                <router-link to="#">
                    <p>Главная <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
                <router-link to="#">
                    <p>Бизнес тусы <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
            </div>
            <h2>Бизнес тусы</h2>
        </div>
        <main-img></main-img>
        <div class="content">
            <p>Франшизы</p>
        </div>
        <Content></Content>
        <my-footer></my-footer>
    </div>
</template>
<script>
import MainNavbar from './MainNavbar'
import Content from '@/components/home/Content'
import MainImg from '@/components/home/MainImg'
import MyFooter from '@/components/navbar/MyFooter'
import ContentButton from '@/components/home/ContentButton'
export default {
    name: 'busniss-type',
    components:{
    MainNavbar,
    Content,
    MainImg,
    MyFooter,
    ContentButton
}
}
</script>
<style scoped>
.p{
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.01em;

color: #242222;
padding-bottom: 20px;
}
.title{
    margin-left: 30px;
    

}
.link{
    display: flex;
    justify-content:flex-start;
}
.link a{
    color: #808080;
    margin-top: 50px;
    margin-right: 20px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.01em;
}
h2{
    width: 391px;



font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 48px;
/* identical to box height */

letter-spacing: 0.01em;

color: #242222;

}
@media (max-width:992px) {
    h2{
        width: 224px;
height: 27px;

font-size: 20px;
line-height: 27px;

    }
    .p,
    .link{
        display: none;
    }
}
</style>