<template>
    <div>
        <main-navbar></main-navbar>
        <profit-school @message="message"></profit-school>
        <content></content>
        <my-footer></my-footer>
        <bar-modal :show="barMadal">
            <description @closeDescription="close"></description>
        </bar-modal>
    </div>
</template>
<script>
import MainNavbar from './MainNavbar.vue'
import ProfitSchool from '@/components/busniss/ProfitSchool'
import Content from '@/components/home/Content.vue'
import MyFooter from '@/components/navbar/MyFooter.vue'
import BarModal from '@/components/UI/BarModal.vue'
import Description from '@/components/busniss/Description'
export default {
    name: 'busniss-type-data',
    components:{
        MainNavbar,
        ProfitSchool,
        Content,
        MyFooter,
        BarModal,
        Description
    },
    data() {
        return {
            barMadal: false
        }
    },
    methods: {
        message(data){
            this.barMadal = data
        },
        close(){
            this.barMadal = false
        }

    },
}
</script>