<template>
    <div>
        <main-navbar></main-navbar>
        <chat-content></chat-content>
        <my-footer></my-footer>
        <bar-modal :show="modalShow">
            <user-rate @closeRate="close"></user-rate>
        </bar-modal>
    </div>
</template>
<script>
import MainNavbar from './MainNavbar.vue'
import ChatContent from '@/components/chat/ChatContent'
import MyFooter from '@/components/navbar/MyFooter.vue'
import BarModal from '@/components/UI/BarModal.vue'
import UserRate from '@/components/chat/UserRate'
export default {
    name: 'chat',
    components:{
        MainNavbar,
        ChatContent,
        MyFooter,
        BarModal,
        UserRate
    },
    data() {
        return {
            modalShow:true
        }
    },
    methods: {
        close(){
            this.modalShow = false
        }
    },
}
</script>