<template>
    <div>
        <main-navbar></main-navbar>
        <div class="title">
            <div class="link">
                <router-link to="#">
                    <p>Главная <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
                <router-link to="#">
                    <p>Консультации <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
            </div>
            <h2>Консультации</h2>
        </div>
        <con-navbar></con-navbar>
        <con-content></con-content>
        <main-img></main-img>
        <my-footer></my-footer>
    </div>
</template>
<script>
import MainNavbar from './MainNavbar.vue'
import ConNavbar from '@/components/consult/ConNavbar'
import ConContent from '@/components/consult/ConContent.vue'
import MainImg from '@/components/home/MainImg.vue'
import MyFooter from '@/components/navbar/MyFooter.vue'
export default {
    name: 'Consult',
    components:{
        MainNavbar,
        ConNavbar,
        ConContent,
        MainImg,
        MyFooter

    }
}
</script>
<style scoped>
.title{
    margin-left: 30px;

}
.link{
    display: flex;
    justify-content:flex-start;
}
.link a{
    color: #808080;
    margin-top: 50px;
    margin-right: 20px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.01em;
}
h2{
    width: 391px;



font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 48px;
/* identical to box height */

letter-spacing: 0.01em;

color: #242222;

}
@media (max-width:992px) {
    h2{
        width: 224px;
height: 27px;

font-size: 20px;
line-height: 27px;

    }
    .link{
        display: none;
    }
}
</style>