<template>
    <div>
        <main-navbar></main-navbar>
        <div class="title">
            <div class="link">
                <router-link to="#">
                    <p>Главная <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
                <router-link to="#">
                    <p>Франшизы <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
            </div>
            <h2>Франшизы</h2>
        </div>
        <content-button></content-button>
        <content></content>
        <main-img></main-img>
        <my-footer></my-footer>
    </div>
</template>
<script>
import ContentButton from '@/components/home/ContentButton'
import MainNavbar from './MainNavbar.vue'
import MainImg from '@/components/home/MainImg.vue'
import MyFooter from '@/components/navbar/MyFooter.vue'
import Content from '@/components/home/Content.vue'
export default {
    name: 'franch',
    components:{
    ContentButton,
    MainNavbar,
    MainImg,
    MyFooter,
    Content
}
}
</script>
<style scoped>
.title{
    margin-left: 30px;

}
.link{
    display: flex;
    justify-content:flex-start;
}
.link a{
    color: #808080;
    margin-top: 50px;
    margin-right: 20px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.01em;
}
h2{
    width: 391px;



font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 48px;
/* identical to box height */

letter-spacing: 0.01em;

color: #242222;

}
@media (max-width:992px) {
    h2{
        width: 224px;
height: 27px;

font-size: 20px;
line-height: 27px;

    }
    .link{
        display: none;
    }
}
</style>