<template>
    <div>
        <main-navbar></main-navbar>
        <slide></slide>
        <div class="title_main">
            <div class="title">Новые проекты</div>
            <div class="page">01</div>
        </div>
        <content-button></content-button>
        <content></content>
        <main-img></main-img>
        <con-navbar></con-navbar>
        <con-content></con-content>
        <my-footer></my-footer>
        
    </div>
</template>
<script>

import Content from '@/components/home/Content'
import MainImg from '@/components/home/MainImg'
import ConNavbar from '@/components/consult/ConNavbar'
import ConContent from '@/components/consult/ConContent'
import MyFooter from '@/components/navbar/MyFooter'
import Slide from '@/components/home/Slide.vue'
import ContentButton from '@/components/home/ContentButton'
import MainNavbar from './MainNavbar.vue'




export default {
    name: 'Home',
    components: {
    Content,
    MainImg,
    ConNavbar,
    ConContent,
    MyFooter,
    Slide,
    ContentButton,
    MainNavbar
},
   
}
</script>
<style scoped>
.title_main{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans'; 
    color: #242222;  
}
.title{
    
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.01em;


}
.page{
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.01em;
margin-right: 10px;
}
</style>
