<template>
    <div>
        <main-navbar></main-navbar>
        <login-content></login-content>
    </div>
</template>
<script>
import MainNavbar from './MainNavbar.vue'
import LoginContent from '@/components/login/LoginContent'
export default {
    name:'login',
    components:{
        MainNavbar,
        LoginContent
    }
}
</script>
