<template>
    <div>
        <navbar></navbar>
        <navbar2 @showNavbar="showNavbar"></navbar2>
        <transition name="show">
            <navbar-bar :show="showBar" @closeBar="closeBar"></navbar-bar>
        </transition>
        

    </div>
</template>
<script>
import Navbar2 from '@/components/navbar/Navbar2'
import Navbar from '@/components/navbar/Navbar.vue'
import NavbarBar from '@/components/navbar/NavbarBar.vue'
export default {
    name: 'MainNavbar',
    components: {
    
    Navbar2,
    Navbar,
    NavbarBar
    },
    methods: {
        showNavbar(data){
            this.showBar = data
        },
        closeBar(data){
            this.showBar = data
        }
    },
    data() {
        return {
            showBar: false
        }
    },
   
}
</script>
<style scoped>
*{
    margin: 0;
    padding: 0;
}
.show-enter-from{
    opacity: 0;
}
.show-enter-to{
    opacity: 1;
}
.show-enter-active{
    transition: all 1s ease;
}

</style>
