<template>
    <div>
        <main-navbar></main-navbar>
        <register-content></register-content>
    </div>
</template>
<script>
import MainNavbar from './MainNavbar.vue'
import RegisterContent from '@/components/login/RegisterContent'
export default {
    name:'register',
    components:{
        MainNavbar,
        RegisterContent
    }
}
</script>
