<template>
    <div >
        
        <div class="row ">
            <div class="col-12 col-sm-6 col-md-4 col_padding">
                <div class="card" style="width: 100%;">
                    <img src="../../../public/img/content_img.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">PROFIT SCHOOL</h5>
                      <p class="card-text">Франшиза курсов</p>
                      <p class="card-text">Возраст бизнеса - 7 лет</p>
                      <p class="card-text">Количество сотрудников - 12</p>
                      <p class="card-text">Действующий бизнес</p>
                      <p class="card-text">Окупаемость - 2 года</p>
                      <p class="card-text">Причина продажи - что то</p>
                      <router-link to="/busniss-type-data" class="btn"><span>Подробнее</span></router-link>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col_padding">
                <div class="card" style="width: 100%;">
                    <img src="../../../public/img/content_img.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">PROFIT SCHOOL</h5>
                      <p class="card-text">Франшиза курсов</p>
                      <p class="card-text">Возраст бизнеса - 7 лет</p>
                      <p class="card-text">Количество сотрудников - 12</p>
                      <p class="card-text">Действующий бизнес</p>
                      <p class="card-text">Окупаемость - 2 года</p>
                      <p class="card-text">Причина продажи - что то</p>
                      <router-link to="/busniss-type-data" class="btn"><span>Подробнее</span></router-link>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col_padding">
                <div class="card" style="width: 100%;">
                    <img src="../../../public/img/content_img.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">PROFIT SCHOOL</h5>
                      <p class="card-text">Франшиза курсов</p>
                      <p class="card-text">Возраст бизнеса - 7 лет</p>
                      <p class="card-text">Количество сотрудников - 12</p>
                      <p class="card-text">Действующий бизнес</p>
                      <p class="card-text">Окупаемость - 2 года</p>
                      <p class="card-text">Причина продажи - что то</p>
                      <router-link to="/busniss-type-data" class="btn"><span>Подробнее</span></router-link>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col_padding">
                <div class="card" style="width: 100%;">
                    <img src="../../../public/img/content_img.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">PROFIT SCHOOL</h5>
                      <p class="card-text">Франшиза курсов</p>
                      <p class="card-text">Возраст бизнеса - 7 лет</p>
                      <p class="card-text">Количество сотрудников - 12</p>
                      <p class="card-text">Действующий бизнес</p>
                      <p class="card-text">Окупаемость - 2 года</p>
                      <p class="card-text">Причина продажи - что то</p>
                      <router-link to="/busniss-type-data" class="btn"><span>Подробнее</span></router-link>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col_padding">
                <div class="card" style="width: 100%;">
                    <img src="../../../public/img/content_img.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">PROFIT SCHOOL</h5>
                      <p class="card-text">Франшиза курсов</p>
                      <p class="card-text">Возраст бизнеса - 7 лет</p>
                      <p class="card-text">Количество сотрудников - 12</p>
                      <p class="card-text">Действующий бизнес</p>
                      <p class="card-text">Окупаемость - 2 года</p>
                      <p class="card-text">Причина продажи - что то</p>
                      <router-link to="/busniss-type-data" class="btn"><span>Подробнее</span></router-link>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col_padding">
                <div class="card" style="width: 100%;">
                    <img src="../../../public/img/content_img.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">PROFIT SCHOOL</h5>
                      <p class="card-text">Франшиза курсов</p>
                      <p class="card-text">Возраст бизнеса - 7 лет</p>
                      <p class="card-text">Количество сотрудников - 12</p>
                      <p class="card-text">Действующий бизнес</p>
                      <p class="card-text">Окупаемость - 2 года</p>
                      <p class="card-text">Причина продажи - что то</p>
                      <router-link to="/busniss-type-data" class="btn"><span>Подробнее</span></router-link>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="view">
                <button><span>Посмотреть все</span></button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Content'
}
</script>
<style scoped>

.row{
    margin:30px 23px ;
}
.card{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    color: #242222;
    background: #FAFAFA;
box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
border-radius: 10px;
}
.col_padding{
    padding: 7px;
}
.card-title{
    
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.01em;
width: 158px;
height: 27px;
}
.card-text{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.01em;
}
.card .btn{
    width: 170px;
height: 50px;
background: #297D3B;
border-radius: 40px;
padding-top: 12px;
}
.card .btn span{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;

/* identical to boight, or 18px */

letter-spacing: 0.03em;
color: #FFFFFF;
}
.view{
    display: flex;
    justify-content: center;
}
.view button{
    width: 200px;
height: 55px;
background: #EBEBEB;
box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.03);
border-radius: 40px;
}
.view span{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 23px;
letter-spacing: 0.01em;

color: #242222;
}

</style>