<template>
    <div>
        
        <div class="button">
            <button>Стартап</button>
            <button class="active">Франшиза</button>
            <button class="menu-btn">Готовый бизнес</button>
            
        </div>
        <div class="none-btn">
            <button class="menu-2-btn">Готовый бизнес</button>
        </div>
    </div>
</template>
<script>
export default {
    name: 'content-button'
}
</script>
<style>
.button{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    justify-content:flex-start;
    font-family: 'Open Sans'; 
}
button{
    
    border: 0.5px solid #EBEBEB;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.03);
    border-radius: 50px;
    
    width: 200px;
    height: 50px;
    margin-right: 10px;
}
.button .active{
    color: #fff;
    background: #297D3B;
}
.none-btn{
    margin: 10px 30px;
    display: flex;
    justify-content: center;
}
.menu-2-btn{
    display: none;

}
@media (max-width:544px) {
    .menu-btn{
        display: none;
    }
    .button{
        justify-content: center;
    }
    .menu-2-btn{
        display: block;
    }
}
</style>