<template>
    <div class="row">
       <img src="../../../public/img/Frame2.png" alt="">
    </div>
</template>
<script>
export default {
    name:'main-img'
}
</script>
<style scoped>
.row{
    margin: 60px 30px;
}
img{
    background: #F7F7F7;
border-radius: 10px;
margin: 0;
padding: 0;
}
</style>