<template>
    <div class="row">
        <div class="content">
            <div class="text_slide">
                <div class="title">
                    <h2>ПЛАТФОРМА КОТОРАЯ <br><span>ОБЪЕДИНЯЕТ</span> ИНВЕСТОРОВ<br> И БИЗНЕСМЕНОВ</h2>
                </div>
                <div class="text">
                    <p>Платформа которая объединяет инвесторов <br> и бизнесменов, платформа которая <br> объединяет инвесторов и бизнесменов </p>

                </div>
                <div class="button">
                    <button @click="sendProject">Посмотреть проект</button>
                    <span></span>
                    <button @click="addProject">Добавить проект</button>
                </div>
            </div>
            <div class="img_slide">
                <img src="../../../public/img/workeruser.png" alt="">
            </div>
        </div>
       <div class="f">
            <div class="img_slide-2">
                <img src="../../../public/img/workeruser.png" alt="">
            </div>
        </div>
        <div class="row" id="btn">
            <router-link to="/busniss-type-data">
                <div class="col-12">
                    <span>Посмотреть проекты</span>
                 </div>
            </router-link>
            <router-link to="/add-project">
                <div class="col-12">
                    <span>Добавить проекты</span>
                    
                </div>
            </router-link>
            
        </div>
    </div>
</template>
<script>
export default {
    name: 'Slide',
    methods: {
        sendProject(){
            this.$router.push('/busniss-type-data')
        },
        addProject(){
            this.$router.push('/add-project')
        }

    },
}
</script>
<style scoped>
#btn{
    margin: 0;
    padding: 0;
    
    
}
#btn a{
    width: 100%;
    height: 65px;
color: #fff;
      margin: 10px 10px 10px 0;
background: #297D3B;
border-radius: 60px;
text-align: center;
    text-decoration: none;
    display: none;
}
#btn .col-12{
    margin:22px 0;
}
.row{
    margin: 20px 30px;

}
.content{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
    color: #242222;
    background-image: url("../../../public/img/AlluraCity.png");
    background-repeat: no-repeat;
    background-position: right;
}
.text_slide{
    margin-top: 70px;
    width: 100%;
}
.text_slide .title{
    
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 54px;
letter-spacing: 0.01em;


}
.title span{
    color: #297D3B;
}
.text p{
    margin-top: 30px;
    margin-bottom: 30px;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
letter-spacing: 0.01em;

}
.button span{
    margin-top: -10px;
    margin-right: -7px;
    margin-left: -18px;
    width: 20px;
    height: 80px;
    background: #FFF;
    transform: rotate(20deg);
   

}
button{
    
    width: 180px;
    height: 55px;
    background: #297D3B;
    border-radius: 5px;
    color: #fff;
    border: none;

    
}
.img_slide{
    
    width: 130%;
    margin-top: -70px;
    margin-right: 10px;
    margin-left: -150px;

}
img{
    
    width: 550px;
    height: 435px;
    margin-top: 150px;
    margin-left: 190px;
    padding-right: -500px;
    

}

.img_slide-2{
    width: 100%;
    height: 304px;
    background-image: url("../../../public/img/AlluraCity.png");
    margin-top: -100px;
    margin-bottom: 80px;
    margin-left: -80px;
    display: none;
}
.img_slide-2 img{
    width: 300px;
    height: 235px;
    margin-left: 40%;
}
@media (max-width:992px) {
    .text_slide{
        margin-top: 0;
    }
}
@media (max-width:1025px) {
    .content{
        background-image: none;
    }
    .img_slide{

    width: 100%;
    margin-top: -70px;
    margin-right: 10px;
    margin-left: -200px;

}
img{
    width: 500px;
    height: 435px;
    margin-top: 150px;
    margin-left: 190px;
    padding-right: -500px;
    

}


}
@media (max-width:890px) {
    .img_slide{
        display: none;
    }
    .button{
        display: none;
    }
    .img_slide-2{
        display: block;
    }
    #btn a{
        display: block;
    }
    
}
@media (max-width:420px) {
    .img_slide-2 img{
        margin-left: 30%;
    }
}
@media (max-width:500px) {
    .text_slide .title{
        font-size: 25px;
        line-height: 24px;
        
        
    }
    .text_slide p{
        font-size: 14px;
        line-height: 19px;
    }
}










</style>