<template>
    <div class="row">
        
        <div class="content">
            <div class="logo">
                <h1><span>IN</span>BUSINESS</h1>
                <p>Манзил: 100321, г. Ташкент,  ул. Муштабиб 43</p>
                <p>Телефон: +998 71 150 53 95</p>
                <p>E-mail: headoffice@inbusiness.uz</p>
                <p>
                    <router-link to="#">
                        <img src="../../../public/img/facebook.png" alt="">
                    </router-link>
                    <router-link to="#">
                        <img src="../../../public/img/instagram.png" alt="">
                    </router-link>
                    <router-link to="#">
                        <img src="../../../public/img/telegram.png" alt="">
                    </router-link>
                </p>
            </div>
            <div class="uslug">
                <div>
                    <h5>Услуги</h5>
                    <p>
                        <router-link to="#">Публичная офферта</router-link>
                    </p>
                    <p>
                        <router-link to="#">Инвесторы</router-link>
                    </p>
                    <p>
                        <router-link to="#">Бизнес тусы</router-link>
                    </p>
                    <p>
                        <router-link to="#">Ищу инвестора</router-link>
                    </p>
                </div>
                <div class="project-2">
                    <h5>Проекты</h5>
                    <p>
                        <router-link to="#">Новые</router-link>
                    </p>
                    <p>
                        <router-link to="#">Франшизы</router-link>
                    </p>
                    <p>
                        <router-link to="#">Готовый бизнес</router-link>
                    </p>
                </div>
            </div>
            <div class="project">
                <h5>Проекты</h5>
                <p>
                    <router-link to="#">Новые</router-link>
                </p>
                <p>
                    <router-link to="#">Франшизы</router-link>
                </p>
                <p>
                    <router-link to="#">Готовый бизнес</router-link>
                </p>
               
            </div>
            <div class="consult" id="con">
                <h5>Консультации</h5>
                <p>
                    <router-link to="#">Юриста</router-link>
                </p>
                <p>
                    <router-link to="#">Маркетолога</router-link>
                </p>
                <p>
                    <router-link to="#">HR менеджера</router-link>
                </p>
                <p>
                    <router-link to="#">Отдел продаж</router-link>
                </p>
            </div>
        </div>

        <div class="license">
            <p>2022 © Barcha huquqlar himoya qilingan. Barcha xizmatlar litsenziyalangan
            </p>
        </div>
       
    </div>
</template>
<script>
export default {
    name:'my-footer'
}
</script>
<style scoped>

.row{
    width: 100%;
    background: #FAFAFA;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    border-top-left-radius: 100% 80px;
    border-top-right-radius: 100% 50px;
}
.content{
    padding: 80px 150px 30px 30px;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
    color: #242222;   
}
.logo h1{
    font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 48px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
}
.logo span{
    color: #297D3B;
}
.logo p{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.03em;
}
.logo p a{
    margin-right: 15px;
}

.uslug,
.project,
.consult{
    margin-top: 18px;
}
.uslug h5,
.project h5,
.consult h5{
    font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 23px;
letter-spacing: 0.03em;
}
.uslug p,
.project p,
.consult p{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.03em;
}
.uslug a,
.project a,
.consult a{
    color: #242222;
}
.uslug a:hover,
.project a:hover,
.consult a:hover{
    color: #297D3B;
}
.project-2{
    display: none;
}

.license{
    width: 100%;
    font-family: 'Open Sans';
    color: #242222;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
.license p{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
letter-spacing: 0.03em;
margin-left: 25px;
}
@media (max-width:992px) {
    #con{
        display: none;
    }
}
@media (max-width:810px) {
    .row{
        border-radius: 0;
    }
    .content{
        padding-right: 25px;
    }
    .project-2{
        display: block;
        padding-top: 10px;
    }
    #con,
    .project{
        display: none;
        
    }
    .logo h5
    {
        font-size: 20px;
        line-height: 27px;
    }
    .logo p,
    .uslug p{
        font-size: 12px;
        line-height: 16px;
    }
    .uslug h5{
        font-size: 17px;
        line-height: 23px;
    }
    .license p{
        font-size: 10px;
        line-height: 14px;
    }

}
</style>