<template>
    <div class="display-none" >
       <header>
            <div class="link">
                <div class="text">
                    <router-link to="/">Ищу инвестора</router-link>
                 </div>
                 <div class="text">
                    <router-link to="/project">Ищу хороший проект</router-link>
                 </div>
                 <div class="text">
                    <router-link to="/franch">Франшиза</router-link>
                 </div>
                 <div class="text">
                    <router-link to="/busniss">Готовый бизнес</router-link>
                 </div>
                 <div class="text">
                    <router-link to="/busniss-type">Бизнес тусы</router-link>
                 </div>
                 <div class="text">
                    <router-link to="/consult">Консультации</router-link>
                 </div>
            </div>
            <div class="brand_link">
                <div class="lenguage">
                    <div class="lang">
                        Уз <i class="fa-solid fa-angle-down"></i>
                    </div>
                </div>
                <div class="icons">
                    
                   <a href="https://facebook.com">
                       <img src="../../../public/img/facebook.png" alt="">
                    </a>
                   <a href="https://instagram.com">
                    <img src="../../../public/img/instagram.png" alt="">
                   </a>
                    <a href="https://web.telegram.org">
                        <img src="../../../public/img/telegram.png" alt="">
                    </a>
                </div>
            </div>
       </header>
    </div>
</template>
<script>
export default {
    name: 'Navbar',
   
}
</script>
<style scoped>
header{
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    color: #242222;
    font-family: 'Open Sans';
}
.link{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    
}
a{
    font-family: 'Open Sans';
    text-decoration: none !important;
    color: #242222;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.01em;
    margin: 0 15px;
}
.brand_link{
    width: 30%;
}
.brand_link,
.icons{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0;
    margin-right: 15px;
    
}
.icons a{
    margin-right: 0;
    
}

.lenguage{

    width: 50px;
    height: 30px;
    border: 1px solid #FAFAFA;
    border-radius: 40px;
    background: #FAFAFA;
    margin-left: 100px;
}
.lang{
    margin-top: 3px;
    font-size: 14px;
    
}
@media (max-width:992px) {
    .display-none{
        display: none;
    }
}
</style>