<template>
    <div class="navbar-bar" v-if="show" @click="showBar">
        <div class="close" @click="close">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="content">
            
            <div class="logo">
                <router-link to="#">
                    <h1><span>IN</span>BUSNISS</h1>
                </router-link>
                
            </div>
            
            <div class="link">
                <div class="text">
                    <router-link to="#">Ищу инвестора</router-link>
                 </div>
                 <div class="text">
                    <router-link to="#">Ищу хороший проект</router-link>
                 </div>
                 <div class="text">
                    <router-link to="#">Франшиза</router-link>
                 </div>
                 <div class="text">
                    <router-link to="#">Готовый бизнес</router-link>
                 </div>
                 <div class="text">
                    <router-link to="#">Бизнес тусы</router-link>
                 </div>
                 <div class="text">
                    <router-link to="#">Консультации</router-link>
                 </div>
            </div>
            <div class="lenguage">
                <div class="lang">
                    Уз <i class="fa-solid fa-angle-down"></i>
                </div>
            </div>
            <div class="icons">
               <router-link to="#">
                   <img src="../../../public/img/facebook.png" alt="">
               </router-link>
               <router-link to="#">
                <img src="../../../public/img/instagram.png" alt="">
            </router-link>
            <router-link to="#">
                <img src="../../../public/img/telegram.png" alt="">
            </router-link>
            </div>
            <div class="user">
              <router-link to="#">
                <img src="../../../public/img/Group10.png" alt="">
                <div class="text">Регистрация</div>
              </router-link>
            </div>
            <div class="add-link">
               <router-link to="#">
                    <div class="add">
                        <div class="text">
                            добавить проект
                        </div>
                    </div>
                   
                
               </router-link>
            </div>   
        
        </div>
    </div>
</template>
<script>
export default {
    name:'navbar-bar',
    
    props:{
        show:{
            type:Boolean,
            default: false
        }
    },
    methods: {
        showBar(){
            this.$emit("show",false)
        },
        close(){
            //console.log('click')
            this.$emit("closeBar", false)
        }
    },
    
}
</script>
<style scoped>

.navbar-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    z-index: 10;
    display: flex;
    padding-top: 30px;
   
}
.close{
    position: absolute;
    right: 20px;
}
.close i{
    font-size: 40px;
    color: #297D3B;
}
.content{
    font-family: 'Open Sans';

/* identical to box height */

width: 60%;
text-align: center;
margin-left: auto;
margin-right: auto;
color: #242222;

}
.content a{
    color: #242222;
}
.content .logo{
    font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 34px;
letter-spacing: 0.03em;
}
.content .logo span{
    color: #297D3B;
}
.logo a{
    text-decoration: none;
}
.link .text{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
margin-bottom: 10px;

letter-spacing: 0.01em;
}
.link a:hover{
    color: #297D3B;
}
.lenguage{
margin-left: auto;
margin-right: auto;
width: 50px;
height: 30px;
border: 1px solid #FAFAFA;
border-radius: 40px;
background: #FAFAFA;
margin-bottom: 10px;

}
.lang{
margin-top: 3px;
font-size: 14px;

}
.icons a{
    margin: 20px 10px;
    
}
.icons{
    margin: 20px;
}
.user img{
    margin-top: 10px;
}
.user{
    box-sizing: border-box;

width: 50px;
height: 50px;
margin-top: 30px;
margin-right: auto;
margin-left: auto;
background: #FAFAFA;
border: 0.5px solid #EBEBEB;
border-radius: 40px;
}
.user .text{
    margin-top: 10px;
    margin-left: -18px;
}
.add-link a{
    text-decoration: none;
}
.add{
width: 170px;
margin-top: 30px;
height: 50px;
background: #297D3B;
border-radius: 40px;
margin-right: auto;
margin-left: auto;

padding-top: 12px;
}
.add .text{
    text-align: center;
    margin-bottom:-20px ;
    color:#FFF ;
}
</style>