<template>
    <div class="row">
        <div class="navbar">
            <div class="logo">
                <router-link to="/">
                    <h1><span>IN</span>BUSNISS</h1>
                </router-link>
            </div>
            <div class="content">
                <div class="search">
                    <input type="text" placeholder="Поиск">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="exit" @click="login">
                    <img src="../../../public/img/Vector.png" alt="">
                    <div class="text">Вход</div>
                </div>
                <div class="user" @click="register">
                    <img src="../../../public/img/Group10.png" alt="">
                    <div class="text">Регистрация</div>
                </div>
                <div class="add" @click="addProject">
                    <div class="text">
                        добавить проект
                    </div>
                    
                </div>
            </div>
            <div class="bars-content">
                <router-link to="#">
                    <img src="../../../public/img/Vector.png" alt="">
                </router-link>
                <div class="bars" @click="show">
                    <img src="../../../public/img/bars.png" alt="">
                </div>
            </div>   
            
        </div>
       <div class="display-nane">
        <div class="search-bars">
            <img src="../../../public/img/search.png" alt="">
            <input type="text" placeholder="Поиск">
        </div>
       </div>
    </div>
</template>
<script>
export default {
    name: 'Navbar2',
    methods: {
        show(){
            this.$emit('showNavbar',true)
        },
        login(){
            this.$router.push('/login')
        },
        register(){
            this.$router.push('/register')
        },
        addProject(){
            this.$router.push('/add-project')
        }
    },
}
</script>
<style scoped>
.display-nane{
    margin: 0;
    padding: 0;
    display: none;
}
.search-bars{
    display: flex;
    width: calc(100% - 60px);
    justify-content:left;
    box-sizing: border-box;
    margin: 30px 30px 0 ;
    height: 50px;


background: #FAFAFA;
border: 0.5px solid #EBEBEB;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.03), inset -1px -1px 1px rgba(0, 0, 0, 0.03);
border-radius: 40px;
}
.search-bars img{
    
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 12px;
    
}
.search-bars input{
    
    border: none;
    background: #FAFAFA;
    text-decoration: none;
    outline: none;
    width: calc(80% - 60px);
    border-radius: 10px;
}
.bars-content{
    cursor: pointer;
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.bars-content a,
.bars-content div{
    margin-left: 30px;
    display: none;
}
.navbar{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans';
    margin-left:40px ;
    margin: 0;
    padding: 0;
    
}
.content{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    
}
.logo{
    width: 25%;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-left: 20px;

    
    
}
.logo a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #242222;
}
.logo span{
    color: #297D3B;
    
}
.search{
    box-sizing: border-box;

width: 530px;
height: 50px;
margin-top: 30px;
background: #FAFAFA;
border: 0.5px solid #EBEBEB;
box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.03);
border-radius: 40px;
margin-right: 20px;

}
.search input{
    background: #FAFAFA;
    width: 90%;
    text-decoration: none;
    border: none;
    outline: none;
    height: 30px;
    margin-top: 10px;

}
.search i{
    font-size: 13.9px;
}
.exit{
    cursor: pointer;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-right: 20px;
    background: #FAFAFA;
    border: 0.5px solid #EBEBEB;
    border-radius: 40px;
}
.exit img, .user img{
    margin-top: 10px;
}
.exit .text{
    margin-top: 15px;
}
.user{
    cursor: pointer;
    box-sizing: border-box;

width: 50px;
height: 50px;
margin-top: 30px;
margin-right: 50px;
background: #FAFAFA;
border: 0.5px solid #EBEBEB;
border-radius: 40px;
}
.user .text{
    margin-left: -10px;
}
.add{
    cursor: pointer;
width: 170px;
margin-top: 30px;
height: 50px;
background: #297D3B;
border-radius: 40px;
margin-right: 20px;
color:#FFF;
}
.add .text{
    text-align: center;
    margin-top:13px ;
}
@media (max-width:992px) {
    
    .display-nane{
        display: block;
    }
    .bars-content a,
    .bars-content div{
        
        display: block;
    }
    .content{
        display: none;
    }
    .logo{
        position: absolute;
        left: 10px;
        width: 152px;
        font-size: 25px;
        line-height: 34px;
        width: 152px;
        height: 34px;
    }
}
</style>