<template>
    <div>
        <div class="title">
            <div class="link">
                <router-link to="#">
                    <p>Главная <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
                <router-link to="#">
                    <p>Войти <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
            </div>
            <h2>Вход в <span class="logo"><span>IN</span>BUSINESS</span> </h2>
        </div>
        <div class="line">
            <hr>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-margin">
                <div class="input">
                    <input type="text" placeholder="Адрес эл.почты">
                </div>
                <div class="input">
                    <input type="text" placeholder="Введите пароль">
                </div>
              
                <div class="button">
                    <button><span>Продолжить</span></button>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-margin">
                <div class="logo-cat">
                    <img src="../../../public/img/cat-logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'login-content'
}

</script>
<style scoped>

.logo-cat img{
    position: absolute;
    right: 20px;
    top:20%;
    width:80%;
    
}
.row{
    margin:0 18px;
    font-family: 'Open Sans';
    margin-bottom: 50px;
}
.input{
    margin: 20px 0;
}
.row input{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 650px;
height: 70px;
text-decoration: none;
outline: none;
border: none;
background: #F5F5F5;
border-radius: 10px;
}
.line{
    margin-top: 90px;
    margin-left: 30px;
}
hr{
    width: 700px;
    border: 0.5px solid #808080;
}

.logo span{
    color: #297D3B;
    
}
.title{
    margin-left: 30px;

}
.link{
    display: flex;
    justify-content:flex-start;
}
.link a{
    color: #808080;
    margin-top: 50px;
    margin-right: 20px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.01em;
}
h2{
    position: absolute;
    width: 476px;



font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 48px;
/* identical to box height */

letter-spacing: 0.01em;

color: #242222;

}
button{
    width: 200px;
height: 55px;
border: none;
margin-bottom: 30px;
background: #297D3B;
border-radius: 5px;
}
button span{
    width: 87px;
height: 19px;


font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.01em;

color: #FFFFFF;
}
@media (max-width:992px) {
    h2{
        width: 272px;
        height: 27px;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.01em;
        margin-top: 30px;
    }
    .line,
    .link{
        display: none;
    }
    .col-margin{
        margin-top: 80px;
    }
    .logo-cat{
        display: block;
    }
    .row input{
        
        height: 60px;
    }
}
@media (max-width:575px) {

    .logo-cat{
        display: none;
    }
    .button{
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    button{
        width: 100%;
        max-width: 300px;
        height: 60px;
        border-radius: 10px;
        
    }
}
</style>