<template>
    <div class="back-img">
        <div class="title">
            <div class="link">
                <router-link to="#">
                    <p>Главная <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
                <router-link to="#">
                    <p>Добавить проект <i class="fa-solid fa-angle-right"></i></p>
                </router-link>
            </div>
            <h2>Добавить проект</h2>
        </div>
        <div class="line">
            <hr>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-margin">
                <select name="" id="" placeholder="Проект">
                    <option value="">Проект</option>
                    <option value="">Название компании</option>
                </select>
                <div class="input">
                    <input type="text" placeholder="Название компании">
                </div>
                <div class="input">
                    <input type="text" placeholder="Возраст бизнеса">
                </div>
                <div class="input">
                    <input type="text" placeholder="Количество сотрудников">
                </div>
                <div class="input">
                    <input type="text" placeholder="Окупаемость">
                </div>
                <div class="text-area">
                    <textarea name="" id="" cols="100%" rows="2" placeholder="Причина продажи"></textarea>
                </div>
                <div class="input">
                    <input type="text" placeholder="Веб-сайт">
                </div>
                <div class="button">
                    <button><span>Отправить заявку</span></button>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-margin col-backgraund">
                <div class="logo-cat">
                    <img src="../../../public/img/add-project.png" alt="">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'register-project'
}

</script>
<style scoped>
.col-backgraund{
    
    background: url("../../../public/img/AlluraCity.png");
    background-repeat: no-repeat;
    
  background-position: top right;


}
.logo-cat img{
    position: absolute;
    right: 70px;
    top:180px;
    width:60%;
    
}
.row{
    margin:0 18px;
    font-family: 'Open Sans';
    
}
.input{
    margin: 20px 0;
}

.row textarea{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 650px;
height: 120px;
text-decoration: none;
outline: none;
border: none;
background: #F5F5F5;
border-radius: 10px;
}
.row select,
.row input{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 650px;
height: 70px;
text-decoration: none;
outline: none;
border: none;
background: #F5F5F5;
border-radius: 10px;
}
.line{
    margin-top: 90px;
    margin-left: 30px;
}
hr{
    width: 700px;
    border: 0.5px solid #808080;
}

.logo span{
    color: #297D3B;
    
}
.title{
    margin-left: 30px;

}
.link{
    display: flex;
    justify-content:flex-start;
}
.link a{
    color: #808080;
    margin-top: 50px;
    margin-right: 20px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.01em;
}
h2{
    position: absolute;
    width: 476px;



font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 48px;
/* identical to box height */

letter-spacing: 0.01em;

color: #242222;

}
button{
    width: 200px;
height: 55px;
border: none;
margin-bottom: 30px;
background: #297D3B;
border-radius: 5px;
}
button span{
    width: 87px;
height: 19px;


font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.01em;

color: #FFFFFF;
}
@media (max-width:992px) {
    h2{
        width: 272px;
        height: 27px;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.01em;
        margin-top: 30px;
    }
    .line,
    .link{
        display: none;
    }
    .col-margin{
        margin-top: 80px;
    }
    .logo-cat{
        display: block;
    }
    .row select,
    .row input{
        
        height: 60px;
    }
    .row textarea{
        height: 90px;
    }
}
@media (max-width:575px) {

    .logo-cat{
        display: none;
    }
    .button{
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    button{
        width: 100%;
        max-width: 300px;
        height: 60px;
        border-radius: 10px;
        
    }
}
</style>