<template>
    <div>
        <div class="row">
            <div class="col-6 col-lg-3 col_padding">
                <div class="card" style="width: 100%;">
                    <img src="../../../public/img/UserFoto.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Александра</h5>
                      <p class="card-text">Маркетолог </p>
                      <p class="card-text">Опыт работы - 7 лет</p>
                      <p class="card-text">Рейтинг: 4.9</p>
                      <p class="card-text">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star_wihte.png" alt="">
                      </p>
                      
                      <router-link to="/chat" class="btn"><span>Написать</span></router-link>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-lg-3 col_padding">
                <div class="card" style="width: 100%;">
                    <img src="../../../public/img/UserFoto.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Александра</h5>
                      <p class="card-text">Маркетолог </p>
                      <p class="card-text">Опыт работы - 7 лет</p>
                      <p class="card-text">Рейтинг: 4.9</p>
                      <p class="card-text">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star_wihte.png" alt="">
                      </p>
                      
                      <router-link to="/chat" class="btn"><span>Написать</span></router-link>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-lg-3 col_padding">
                <div class="card" style="width: 100%;">
                    <img src="../../../public/img/UserFoto.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Александра</h5>
                      <p class="card-text">Маркетолог </p>
                      <p class="card-text">Опыт работы - 7 лет</p>
                      <p class="card-text">Рейтинг: 4.9</p>
                      <p class="card-text">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star_wihte.png" alt="">
                      </p>
                      
                      <router-link to="/chat" class="btn"><span>Написать</span></router-link>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-lg-3 col_padding">
                <div class="card" style="width: 100%;">
                    <img src="../../../public/img/UserFoto.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Александра</h5>
                      <p class="card-text">Маркетолог </p>
                      <p class="card-text">Опыт работы - 7 лет</p>
                      <p class="card-text">Рейтинг: 4.9</p>
                      <p class="card-text">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star_wihte.png" alt="">
                      </p>
                      
                      <router-link to="/chat" class="btn"><span>Написать</span></router-link>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-lg-3 col_padding">
                <div class="card" style="width: 100%;">
                    <img src="../../../public/img/UserFoto.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Александра</h5>
                      <p class="card-text">Маркетолог </p>
                      <p class="card-text">Опыт работы - 7 лет</p>
                      <p class="card-text">Рейтинг: 4.9</p>
                      <p class="card-text">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star_wihte.png" alt="">
                      </p>
                      
                      <router-link to="/chat" class="btn"><span>Написать</span></router-link>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-lg-3 col_padding">
                <div class="card" style="width: 100%;">
                    <img src="../../../public/img/UserFoto.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Александра</h5>
                      <p class="card-text">Маркетолог </p>
                      <p class="card-text">Опыт работы - 7 лет</p>
                      <p class="card-text">Рейтинг: 4.9</p>
                      <p class="card-text">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star.png" alt="">
                          <img src="../../../public/img/star_wihte.png" alt="">
                      </p>
                      
                      <router-link to="/chat" class="btn"><span>Написать</span></router-link>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="view">
                <button><span>Посмотреть все</span></button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'con-content'
}
</script>
<style scoped>
.row{
    margin: 10px 50px;
    
}
.col_padding{
    padding: 5px;
}
.card{
    font-family: 'Open Sans';
    color: #242222;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    
}  
.card-title{
    
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.01em;
}  
.card-text{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */
letter-spacing: 0.01em;
}
.btn{
    width: 140px;
height: 50px;
padding-top: 12px;

background: #297D3B;
border-radius: 40px;
}
.btn span{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
/* identical to box height, or 18px */

letter-spacing: 0.03em;

color: #FFFFFF;
}
.view{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.view button{
    width: 200px;
height: 55px;
background: #EBEBEB;
box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.03);
border-radius: 40px;
border: none;
}
.view span{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 23px;
letter-spacing: 0.01em;

color: #242222;
}
@media (max-width:512px) {
    .card-title{
        font-size: 16px;
    }
    .card-text{
        font-size: 13px;
        line-height: 19px;
    }
    .btn{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius:10px ;
        border-bottom-right-radius: 10px;
        
    }
    .card-body{
        padding: 0;
    }
}
</style>