<template>
    <div>
       <div class="row">
            <button><span>Юрист</span></button>
            <button><span>Маркетолог</span></button>
            <button><span>HR менеджер</span></button>
            <button><span>Бухгалтер</span></button>
            <button><span>Финансист</span></button>
            <button><span>Продажи</span></button>
            <button class="active"><span >Все</span></button>
       </div> 
    </div>
</template>
<script>
export default {
    name: 'con-navbar'
}
</script>
<style scoped>
.row{
    padding: 0;
    margin: 20px 30px;
    font-family: 'Open Sans';
}
.row button{
    background: #FAFAFA;
box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.03);
border-radius: 77px;
    border: none;
    width: 150px;
height: 50px;
margin: 10px;
color: #242222;
}
.row span{
    
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 23px;
letter-spacing: 0.01em;


}
.row .active{
    background: #297D3B;
box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.03);
border-radius: 77px;
color: #fff !important;
}
@media (max-width:570px) {
    .row button{

        width: 120px;
        height: 40px;
        margin: 10px 7px;
    }
    .row span{
        font-size: 14px;
    }
}
@media (max-width:460px) {
    .row button{

        width: 100px;
        height: 30px;
        margin: 10px 7px;
    }
    .row span{
        font-size: 12px;
    }
}
</style>