<template>
  <div class="container-fluid content">
   <router-view></router-view>
   
  </div>
 
 
</template>

<script>


export default {
  name: 'App',
  components: {
    

  },
  
 
}
</script>

<style>
.content{
  margin: 0;
  padding: 0;
}
#app {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  
  
}

</style>
