<template>
    <div class="modal" v-if="show" @click="hideModal">
        <div  class="modal_context">
            <slot></slot>
        </div>
    </div>
</template>
<script>
export default{
    name: 'bar-modal',
    props:{
        show: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        hideModal(){
            this.$emit("show", false)  
        }
    
    },
}
</script>
<style scoped>
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
}
.modal_context{
    margin: auto;
    margin-left: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    min-height: 100px;
}
@media (max-width:992px) {
    .modal_context{
        margin: auto;
        width: 50%;
        
    }
}
@media (max-width:465px) {
    .modal_context{
        width: 90%;
        
    }
}

</style>